/*
Változók és mixin-ek
*/

$bg-color-body: #8b8b8b;
$bg-color-container: #f0f0f0;
$bg-color-content: #fafcff;
$color-text: #2a2a2a;
$color-subtitle: #404040;

$color-form-border: #888888;
$color-text-border: #909090;

$font-verdana: Verdana, Arial, Helvetica, sans-serif;
$font-arial: Arial, Helvetica, sans-serif;

@mixin transform-skewX($angle){
	-moz-transform: skewX($angle);
	-webkit-transform: skewX($angle);
	-o-transform: skewX($angle);
	-ms-transform: skewX($angle);
	transform: skewX($angle);
}
