/*
Header és footer stílusa
*/

body {
	margin: 0 0 10px 0;
	font: {
		family: Arial, Helvetica, sans-serif;
		size: 13px;
	}
}

#container {
	margin: 0 auto;
	width: 1000px;
}

header {
	margin: 0 0 10px 0;
	padding: 5px;
	height: 30px;
	background-color: #cccccc;

	nav ul {
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			float: left;
			margin: 0 10px;

			a {
				&.active {}
			}
		}
	}
}

h1.game {
	margin-bottom: 10px;
	font-size: 20px;
}

footer {
	margin: 15px 0 0 0;

	.html5logo {}
}
